<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phoenix</title>
<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">

</head>
<body>


<center>
<h1>Phoenix web developers</h1>

    <br>
    <div class="card border-warning mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <h3 class="card-text" style="color:red">Welcome to Phoenix dev  !!</h3>
  </div>
</div>
<br>
    <h5 class="text-success"><b>We Web developers are awesome and can do anything! </h5>
    <h4>So clients... Just click the payment button to book us for doing magic to your business</h4>
  <br>

<div>
    <a style=" width: 150px; background-color: #E61107; text-align: center; font-weight: 800; padding: 11px 0px; color: white; font-size: 12px; display: inline-block; text-decoration: none; "
       href='https://pmny.in/brK62sh69ekw' > Book Now </a>
</div>
</br>
<img src="https://media3.giphy.com/media/8njotXALXXNrW/200.gif" width="500">
    <br>
<br>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/vh9UkXjISA4?controls=0&start=11&autoplay" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</br>
</br>
</video>
<form action="career/" method="POST">
        {% csrf_token %}
    <button type="submit" class="btn btn-warning">Work with us!!</button>
    </form>
    <footer>Created by Nishanth.D</footer>
</center>
</body>
</html>