<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phoenix</title>
<link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">

</head>
<body>


<center>
<h1>Phoenix web developers</h1>

    <div class="card border-warning mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <h3 class="card-text" style="color:red">Welcome to Phoenix dev  !!</h3>
  </div>
</div>
<br>
<h1> SUCCESS! YOUR DATA IS REGISTERED ! YOU WILL RECIEVE A CALL SOON! THANK YOU
FOR CHOOSING US!</h1>
</center>
</body>
</html>